$lato: 'Lato', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$faux-dark-slate-blue: #393f81;
$faux-dark-rose-dust: #9a616d;
$white: #fff;

@font-face {
	font-family: Lato;
	font-weight: 900;
	font-style: normal;
	src: url('../assets/fonts/Lato/Lato-Black.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 500;
	font-style: normal;
	src: url('../assets/fonts/Open-Sans/OpenSans-Medium.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 500;
	font-style: italic;
	src: url('../assets/fonts/Open-Sans/OpenSans-MediumItalic.woff2')
		format('woff2');
	font-display: swap;
}
