.footer-div {
	background: $var;
    min-height: 10vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	
	&--div {
		background-color: $var;
		display: -ms-flex;
		display: -webkit-flex;
		display: flex;
	}

	& > div {
        background-color: $var;
	width: 50%;
	padding: 10px;
	}

   & > div:first-child {
	  margin-right: 20px;
   }

   &--p{
	   font-weight: 600;
	   font-family: 'Open Sans', sans-serif;
	   border-radius: 5px;
	   color:white;
	   font-size: 20px;
	   text-shadow: none;
	   text-align: center;
   }
}