.form-section {
	&--h5 {
		letter-spacing: 1px;
		font: 900 2em $Lato;
	}

	&--input {
		font: 500 1em $Open-Sans;
	}

	&--div {
		position: relative;
		background: $white;
		margin-top: 0.5rem;
		margin-right: 3rem;
	}
}
