.form-section {
	&--h5 {
		letter-spacing: 1px;
		font: 900 2em $lato;
	}

	&--input {
		font: 500 1em $open-sans;
	}

	&--div {
		position: relative;
		background: $white;
		border-style: 0;
		margin-top: 0.5rem;
		margin-right: 3rem;
	}
}
