.globalperros{
    background-color: white;
     background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100vw;
   height: 150vh;
 }
 
 .contenedortestimonio{
 
     width: 1170;
     height: 368;
     margin: 10px 10px 50px;
     margin-top: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #ffffff;
     box-shadow: 0 3px 13px 1px rgb(0 0 0 /9%);
 
 }
 
 .imagentestimonio{
     height: 100%;
     width: auto;
 }
 
 .contenedortextotestimonio{
     width: 100%;
     font-size: 18px;
     text-align: center;
     padding: 40px;
     font-family: Lato, sans-serif;
     line-height: 1.5rem;
 
 
 }
 
 .nombretestimonio{
     font-size: 1.3rem;
     text-shadow: none;
 }
 
 .cargotestimonio{
     font-size: 1.3rem;
     margin-top: 15px;
     padding-bottom: 30px;
 }
 .textotestimonio{
     font-weight: 600;
     font-family: 'Open Sans', sans-serif;
     border-radius: 5px;
     color:black;
     font-size: 16px;
     text-shadow: none;
     text-align: justify;
 }